body {
    background-color: #0f3d81;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #fc5400;
    font-family:  sans-serif;
    font-size:80px; 
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    max-width: 1000px;
    margin: 0 auto;
}


.product-box {
    background-color: white;

    border: 2px solid #f93c07;       
    padding: 20px;                
    border-radius: 20px;        
    text-align: center;
}

.product-box img {
    width: 100%;
    height: 150px;
    object-fit: contain; 
    border-radius: 10px;
    margin-bottom: 10px;
}

.price {
    color: #0c9031;
    font-weight: bold;
    font-size: 15px;
}

.sale_btn {
    background-color: #06b99c;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 10px;
}

